@import '../../../styles/utilities/variables';

.manager {
	display: flex;
	align-items: flex-start;
	margin-top: 24px;

	&-img {
		max-width: 160px;
		margin-right: 16px;
		flex: 1 1 33%;
		width: 33%;
	}

	&-info {
		flex: 1 1 auto;
		align-self: center;
	}

	&-name {
		font-size: 18px;
		line-height: 26px;
	}

	&-desc {
		font-size: 14px;
		line-height: 20px;
		margin-top: 6px;
	}
}

@media (min-width: $small-screen) {
	.manager {
		text-align: center;
		display: block;
		max-width: 360px;
		margin: {
			left: auto;
			right: auto;
		}

		&-img {
			max-width: 320px;
			width: 100%;
			margin-right: 0;
		}

		&-name {
			font-size: 28px;
			line-height: 32px;
			margin-top: 20px;
		}

		&-desc {
			font-size: 18px;
			line-height: 26px;
			margin-top: 16px;

			&.sub {
				font-size: 16px;
			}
		}
	}
}
