# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.idea
/src/app-frontend.yaml
/src/app-admin-frontend.yaml
/src/config.json
/src/config-frontend.json
/src/config-admin-frontend.json

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
junit.xml

# production
#/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# cordova
wrts-mobile/plugins/
wrts-mobile/platforms/
wrts-mobile/node_modules/
wrts-mobile/www/
wrts-mobile/build.json
wrts-mobile/GoogleService-Info.plist
wrts-mobile/wrts-mobile-google-service-account.json
wrts-mobile/google-services.json

# fe-components registry credentials
/google-artifact-registry-credentials.json
