@import '../../../styles/utilities/variables';

.formats-section {
	position: relative;
	text-align: center;

	&-body {
		padding: {
			top: 24px;
			bottom: 44px;
		}
		background: {
			image: url('../../../images/illustrations/formats-bg.png');
			position: center top;
			size: cover;
			repeat: no-repeat;
		}

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 30px;
			width: 100%;
			height: 60px;
			background: linear-gradient(0deg, rgba(29, 41, 65, 1), rgba(29, 41, 65, 0));
		}
	}

	.block {
		margin-top: 8px;

		&-img {
			width: 90px;
			height: 90px;

			+ .block-title {
				margin-top: 8px;
			}
		}

		&-title {
			font-size: 14px;
			line-height: 18px;
			font-weight: 600;
			text-transform: uppercase;

			+ .block-img {
				margin-top: 8px;
			}
		}
	}
}

@media (min-width: $small-screen) {
	.formats-section {
		&-body {
			position: relative;
			padding-bottom: 120px;

			&::after {
				bottom: 0;
				height: 180px;
			}
		}

		.block {
			margin-top: 0;

			&.last-block {
				margin-top: -40px;
			}

			&-img {
				width: auto;
				height: auto;
				max-width: 120px;

				+ .block-title {
					margin-top: 16px;
				}
			}

			&-title {
				font-size: 21px;
				line-height: 32px;

				+ .block-img {
					margin-top: 16px;
				}
			}
		}
	}
}

@media (min-width: $medium-screen) {
	.formats-section .block {
		&.last-block {
			margin-top: -80px;
		}

		&-img {
			max-width: 220px;
		}
	}
}
