@import '../../../styles/utilities/variables';

.managers-section {
	//height: 100vh;
	padding: {
		top: 60px;
		bottom: 60px;
	}

}

.manager {
	text-align: center;
	margin-top: 16px;

	&-img {
		max-width: 190px;
	}

	&-name {
		font-size: 20px;
		line-height: 26px;
		margin-top: 10px;
	}

	&-desc {
		font-size: 14px;
		line-height: 20px;
		margin-top: 6px;
	}
}

@media (min-width: $small-screen) {
	.managers-section {
		//height: 100vh;
		padding: {
			top: 60px;
			bottom: 60px;
		}
	}

	.manager {
		text-align: left;

		&-img {
			max-width: 100%;
		}

		&-name {
			font-size: 36px;
			line-height: 38px;
			margin-top: 20px;
		}

		&-desc {
			font-size: 28px;
			line-height: 36px;
			margin-top: 30px;
		}

		&.left-side {
			padding-right: 40px;
		}

		&.right-side {
			padding-left: 40px;
		}
	}
}
