// General variables ----
$default-fonts: 'Helvetica', Arial, sans-serif;
$base-font-name: 'Raleway';
$extra-font-name: 'Sansation';
// ----------------------

// Fonts path -----------
$font-path: '../../fonts/';

$base-font-data: (
	// order of variables
	// 'font-folder',    'font-file-name',       'font-local-1',         'font-local-2',     'font-weight'
	1: ('raleway/', 'Raleway-Regular', 'Raleway', 'Raleway', 400),
	2: ('raleway/', 'Raleway-Medium', 'Raleway Medium', 'Raleway-Medium', 500)
);

$extra-font-data: (
	// order of variables
	// 'font-folder',    'font-file-name',       'font-local-1',         'font-local-2',     'font-weight'
	1: ('sansation/', 'Sansation-Bold', 'Sansation Bold', 'Sansation-Bold', 700)
);
// ----------------------

// Fonts family variables
$base-font-size: 62.5%; // 10px
$base-font-family: $base-font-name, $default-fonts !default;
$extra-font-family: $extra-font-name, $default-fonts;

// Typography -----------
@function line_height($fs, $lh) {
	// fs - font-size, lh - line-height
	@return $lh / $fs; // value float or integer
}

$size-body: (
	null: (
		1.6rem,
		line_height(16, 20),
	),
	// 'font-size', 'line-height'
	medium:
		(
			1.6rem,
			line_height(16, 22),
		),
);

@mixin heading-l() {
	font-size: 36px;
	line-height: 40px;
	letter-spacing: 0;
	font-weight: 800;
}

@mixin heading-m() {
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0;
	font-weight: 800;
}

@mixin heading-s() {
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0;
	font-weight: 800;
}

@mixin heading-xs() {
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0;
	font-weight: 800;
}

@mixin subtitle-m() {
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.2px;
	font-weight: 500;
}

@mixin subtitle-s() {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.2px;
	font-weight: 500;
}

@mixin text-l() {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2px;
	font-weight: 400;
}

@mixin text-m() {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.2px;
	font-weight: 400;
}

@mixin text-s() {
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.2px;
	font-weight: 400;
}

@mixin text-xs() {
	font-size: 10px;
	line-height: 16px;
	letter-spacing: 0.4px;
	font-weight: 400;
}

@mixin overline() {
	font-size: 10px;
	line-height: 16px;
	letter-spacing: 1px;
	font-weight: 500;
	text-transform: uppercase;
}

// ----------------------
