@import './variables';

// Grid
%container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: $gutter-width;
	padding-left: $gutter-width;

	@media (min-width: $medium-screen) {
		padding-left: 32px;
		padding-right: 32px;
	}
}

%noIndent {
	margin: 0;
	padding: 0;
}

// Clear-fix
%clearFix {
	&::before,
	&::after {
		content: ' ';
		display: table;
	}

	&::after {
		clear: both;
	}
}

%textOverflow {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
