@import '../../../styles/utilities/variables';
@import '../../../styles/utilities/color';

.menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	&-main {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: {
			top: 12px;
			bottom: 12px;
		}
	}

	&-logo {
		margin-right: 16px;
		position: relative;
		z-index: 1;
	}

	&.active {
		.menu-nav {
			opacity: 1;
			visibility: visible;
			transform: none;
		}
	}
}

.hamburger {
	width: 42px;
	height: 28px;
	padding: 8px;
	margin-left: 16px;
	z-index: 1;

	span {
		display: block;
		position: relative;
		width: 26px;
		height: 2px;
		background-color: #e1f3ff;
		transition: all 0.3s ease-in-out;
		margin-left: auto;
		transform-origin: center;

		+ span {
			margin-top: 3px;
		}
	}

	.top-line {
	}

	.mid-line {
		width: 21px;
	}

	.bot-line {
		width: 16px;
	}

	&.active {
		.top-line {
			transform: rotate(-30deg);
			margin-top: 3px;
		}

		.mid-line {
			transform: rotate(30deg);
			margin-top: -2px;
			width: 26px;
		}

		.bot-line {
			opacity: 0;
			transform: rotate(30deg);
			visibility: hidden;
		}
	}
}

@media (max-width: $small-screen-down) {
	.menu {
		&-nav {
			position: fixed;
			top: 0;
			left: 100%;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: all 250ms ease-out;
			background-color: $base-bg;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 16px;
			background: {
				image: url('../../../images/illustrations/mobile-menu-bg.png');
				repeat: no-repeat;
				position: center 20%;
			}
			overflow: hidden;

			&-btn {
				font-size: 20px;
				line-height: 24px;
				color: #e1f3ff;

				+ .menu-nav-btn {
					margin-top: 24px;
				}
			}

			.socials {
				width: 100%;
				margin-top: 24px;
			}

			.divider {
				width: 100%;
				margin: {
					top: 30px;
					bottom: 30px;
				}
			}

			.form-btn {
				width: 100%;
				max-width: 320px;
			}

			.spiral-img {
				position: absolute;
				width: 102px;
				height: 102px;
				top: 60px;
				right: -40px;
				animation: rotate-revers linear 60s infinite;
			}

			.labyrinth-img {
				position: absolute;
				width: 80px;
				height: 80px;
				top: 42%;
				left: -30px;
				animation: rotate linear 60s infinite;
			}
		}

		&.active .menu-nav {
			left: 0;
			opacity: 1;
		}
	}
}

@media (min-width: $small-screen) {
	.menu {
		&-main {
			padding: {
				top: 24px;
				bottom: 24px;
			}
		}

		&-nav {
			display: flex;
			align-items: center;

			&-btn {
				padding: 8px;
				color: #e1f3ff;
				font-size: 20px;
				line-height: 24px;

				+ .menu-nav-btn {
					margin-left: 32px;
				}
			}
		}

		&-logo {
			width: 72px;
			height: 72px;
		}
	}
}
