@import '../../../../styles/utilities/variables';
@import '../../../../styles/utilities/color';

.labyrinth-question-modal {
	overflow: hidden;

	&.modal {
		background-color: rgba(0, 0, 0, 0.5);
	}

	.modal-wrap {
		position: relative;
		padding: 16px;
		min-height: 480px;
		max-height: 100%;
		max-width: 360px;
		border-radius: 24px;
		transform: translateY(0) scale(0);
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), 0 5px 10px rgba(0, 0, 0, 0.8);
	}

	.modal-header {
		display: none;
	}

	.modal-body {
		padding-top: 0;
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.desc {
		position: relative;
		margin: {
			top: auto;
			bottom: auto;
		}
		padding: 16px;
		font-size: 21px;
		line-height: 32px;
		pointer-events: none;
		z-index: 1;
	}

	.bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 24px;
		background: {
			position: center;
			repeat: no-repeat;
			size: cover;
		}
		filter: brightness(50%);

		&.purple {
			background-image: url('../../../../images/gameIllustrations/bg/purpleBg.jpg');

			&.top {
				background-image: url('../../../../images/gameIllustrations/bg/purpleBgTree.jpg');
			}

			&.main {
				background-image: url('../../../../images/gameIllustrations/bg/purpleBgMain.jpg');
			}
		}

		&.red {
			background-image: url('../../../../images/gameIllustrations/bg/redBg.jpg');

			&.top {
				background-image: url('../../../../images/gameIllustrations/bg/redBgTree.jpg');
			}

			&.main {
				background-image: url('../../../../images/gameIllustrations/bg/redBgMain.jpg');
			}
		}

		&.gold {
			background-image: url('../../../../images/gameIllustrations/bg/goldBg.jpg');

			&.top {
				background-image: url('../../../../images/gameIllustrations/bg/goldBgTree.jpg');
			}

			&.main {
				background-image: url('../../../../images/gameIllustrations/bg/goldBgMain.jpg');
			}
		}

		&.blue {
			background-image: url('../../../../images/gameIllustrations/bg/blueBg.jpg');

			&.top {
				background-image: url('../../../../images/gameIllustrations/bg/blueBgTree.jpg');
			}

			&.main {
				background-image: url('../../../../images/gameIllustrations/bg/blueBgMain.jpg');
			}
		}

		&.main {
			filter: brightness(30%);
			cursor: pointer;
		}

		&.active {
			cursor: pointer;
		}
	}

	.btn-group {
		position: relative;
		z-index: 2;
		background-color: rgba(0, 0, 0, 0.7);
		box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.7);
	}

	.action-btn {
		position: relative;
		z-index: 2;
		color: $btn-add-text;

		.icon {
			font-size: 40px;

			&-no {
				color: #c24040;
			}

			&-yes {
				color: #38934f;
			}

			&-fold {
				font-size: 80px;
			}
		}

		+ .action-btn {
			margin-left: 33%;
		}
	}

	&.visible:not(.active),
	&.selected:not(.active) {
		.modal-wrap {
			transform: translateY(100%) scale(0);
		}
	}
}
