@import '../../../styles/utilities/variables';
@import '../../../styles/utilities/color';

html,
body {
	//overflow: hidden;
}

.audio-player {
	position: absolute;
}

.game-page {
	position: relative;
	height: 100vh;
	padding: {
		top: 30px;
		bottom: 140px;
	}
	background-color: $black;
	overflow: auto;

	&-container {
		position: relative;
		z-index: 2;
	}

	&::before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: {
			//image: url('../images/bg.png');
			image: url('../images/bgMobile.webp');
			repeat: no-repeat;
			position: center;
			size: cover;
			attachment: fixed;
		}
		opacity: 0.5;
	}

	.row {
		position: relative;
	}

	&.active::before {
		opacity: 0.8;
	}
}

.final-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.title {
		position: relative;
		margin-bottom: 24px;
		padding-top: 24px;
		z-index: 1;
	}
}

.loading-section {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.circle-progress {
	position: relative;
	line-height: 0;
	font-size: 0;

	&-counter {
		font-size: 18px;
		line-height: 18px;
		display: block;
		color: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.btn {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border-radius: 50%;

		.icon {
			font-size: 24px;
		}
	}
}

@media (max-width: $small-screen-down) {
	.game-page {
		padding: 0;

		.row {
			padding: {
				top: 30px;
				bottom: 140px;
			}
			min-height: 100vh;
			align-content: center;

			.col {
				padding: 0;
			}
		}
	}
}

@media (min-width: $small-screen) {
	.game-page {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
		overflow: hidden;

		&::before {
			background-image: url('../images/bg1.png');
			opacity: 0.8;
		}

		&.active::before {
			opacity: 1;
		}
	}
}
