@import '../../../styles/utilities/variables';

.game-page {
	padding: {
		top: 30px;
		bottom: 140px;
	}
	background: {
		image: url('../images/bg.png');
		repeat: no-repeat;
		position: center;
		size: cover;
	}
	min-height: 100vh;

	.container {
		max-height: 100%;
	}

	.row {
		position: relative;
	}

	.tower-col {
		position: static;
	}
}

@media (min-width: $large-screen) {
	.game-page {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
		padding: {
			//top: 30px;
			//bottom: 96px;
		}
		overflow: hidden;
	}
}
