@import '../../../styles/utilities/variables';

//@keyframes showDown {
//	0% {
//		top: -10px;
//	}
//	100% {
//		top: 0;
//	}
//}

.tower {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		width: 50px;
		height: 200px;
		border-radius: 24px;
		box-shadow: 0 0 120px 120px rgba(188, 42, 255, 0.5);
		top: 50%;
		left: 50%;
		opacity: 0;
		visibility: hidden;
		transform: translate(-50%, -50%);
		transition: all 0.2s ease-out;
	}

	&::after {
		content: '';
		position: absolute;
		width: 3%;
		height: 10%;
		border-radius: 24px;
		box-shadow: 0 8px 9px 12px #69abff;
		/* top: 50%; */
		left: 50.5%;
		bottom: 12%;
		opacity: 0;
		visibility: hidden;
		transform: translate(-50%, -50%);
		/* background-color: red; */
		z-index: 2;
		transition: all 0.2s ease-out;
	}

	&-figure {
		cursor: pointer;
		position: relative;
		z-index: 1;
	}

	&:hover {
		&::after,
		&::before {
			opacity: 1;
			visibility: visible;
		}
	}
}

@media (min-width: $large-screen) {
	.tower {
		//margin-top: -150%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 512px;
		width: 40%;
		max-height: 80vh;

		&-figure {
			max-height: 80vh;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}
}
