@import '../../../styles/utilities/variables';

@keyframes rotateLight {
	0% {
		transform: rotate3d(0, 0, 0, 0);
	}
	100% {
		transform: rotate3d(0, 1, 0.05, 360deg);
	}
}

@keyframes lightFade {
	0%,
	100% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
}

.tower {
	position: relative;
	max-width: 700px;
	margin: {
		left: auto;
		right: auto;
	}

	&::before {
		content: '';
		position: absolute;
		width: 10%;
		height: 35%;
		border-radius: 24px;
		box-shadow: 0 0 120px 120px rgba(255, 202, 100, 0.6);
		top: 40%;
		left: 50.5%;
		opacity: 0;
		visibility: hidden;
		transform: translate(-50%, -50%);
		transition: opacity 0.2s ease-out;
		background-color: rgba(255, 202, 100, 0.6);
	}

	&::after {
		//content: '';
		position: absolute;
		width: 3%;
		height: 10%;
		border-radius: 24px;
		box-shadow: 0 8px 9px 12px #69abff;
		left: 50.5%;
		bottom: 12%;
		opacity: 0;
		visibility: hidden;
		transition: all 0.2s ease-out;
		transform: translate(-50%, -50%);
		z-index: 2;
	}

	&-figure {
		cursor: pointer;
		position: relative;
		z-index: 1;

		&-shadow {
			position: absolute;
			top: 47.7%;
			left: 50.5%;
			transform: translate(-50%, -50%);
			z-index: 2;
			width: 16.5%;
			pointer-events: none;
		}
	}

	&-light {
		position: absolute;
		top: 16%;
		width: 100%;
		z-index: 3;
		perspective: 1000px;
		pointer-events: none;

		&-img {
			width: 100%;
			animation: rotateLight 5s infinite linear;
			transform-origin: center;
		}

		&-bg {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 50%;
			transform: translate(-50%, -50%);
			animation: lightFade 2.5s infinite linear;
		}
	}

	&:hover {
		&::after,
		&::before {
			opacity: 1;
			visibility: visible;
		}
	}
}

@media (min-width: $small-screen) {
	.tower {
		max-width: 60vh;

		&-col {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-width: 512px;
			width: 40%;
			max-height: 80vh;
			margin: 0;
		}

		&-figure {
			max-height: 80vh;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}
}
