@import '../utilities/variables';
@import '../utilities/placeholder';

// Container wrap
.container {
	@extend %container;

	&-full {
		@extend %container;
	}

	@media (min-width: $small-screen) {
		max-width: $small-container;
	}

	@media (min-width: $medium-screen) {
		max-width: $medium-container;
	}

	@media (min-width: $large-screen) {
		max-width: 140rem;
	}
}

.row {
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	margin-right: ($gutter-width / -2);
	margin-left: ($gutter-width / -2);

	&-reverse {
		flex-direction: row-reverse;
	}
}

.col {
	box-sizing: border-box;
	flex: 0 0 auto;
	width: 100%; // hook for one column
	padding-right: ($gutter-width / 2);
	padding-left: ($gutter-width / 2);

	&-flex {
		display: flex;
	}

	&-reverse {
		display: flex;
		flex-direction: column-reverse;
	}
}

@media (max-width: $small-screen-down) {
	.container {
		padding-right: ($gutter-width / 1.5);
		padding-left: ($gutter-width / 1.5);

		&-full {
			padding-right: ($gutter-width / 1.5);
			padding-left: ($gutter-width / 1.5);
		}
	}

	.row {
		margin-right: ($gutter-width / -3);
		margin-left: ($gutter-width / -3);
	}

	.col {
		padding-right: ($gutter-width / 3);
		padding-left: ($gutter-width / 3);
	}
}
