@import '../utilities/fonts_var';
@import '../utilities/mixins';

// Typography style

html {
	font-size: $base-font-size;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	@include default-font-size($size-body);
	font: {
		family: $base-font-family;
		weight: 400;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: $base-font-family;
}
