@import '../utilities/color';
@import '../utilities/fonts_var';
@import '../utilities/shadows';

input {
	font: $base-font-size;
}

input,
input[type='tel'],
input[type='text'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='password'],
textarea,
select {
	box-sizing: border-box;
	width: 100%;
	outline: none;
	border-radius: 8px;
	background-color: transparent;
	border: 1px solid $white;
	padding: 12px 16px;
	color: #fff;
	font-variant-numeric: lining-nums;

	&::-webkit-input-placeholder {
		color: color('shades', 'light-grey');
	}

	&::-moz-placeholder {
		color: color('shades', 'light-grey');
	}

	&:-ms-input-placeholder {
		color: color('shades', 'light-grey');
	}

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		-webkit-background-clip: text;
		font-size: 16px !important;
		color: $white !important;
		-webkit-text-fill-color: $white !important;
	}

	&:read-only {
		cursor: default;
	}

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	&:-internal-autofill-selected {
		color: $white !important;
		-webkit-text-fill-color: $white !important;
	}
}

textarea {
	resize: none;
}

label {
	font-weight: 400;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.input-field {
	position: relative;

	label {
		@include subtitle-s();
		pointer-events: none;
		user-select: none;
		color: #e1f3ff;
		position: absolute;
		top: 18px;
		left: 16px;
		transition: all 0.15s ease-out;
	}

	input {
		@include subtitle-s();
		border-radius: 8px;
		padding: 28px 16px 8px;
		line-height: 20px;

		&::-webkit-input-placeholder {
			color: transparent;
		}

		&::-moz-placeholder {
			color: transparent;
		}

		&:-ms-input-placeholder {
			color: transparent;
		}

		&:-moz-placeholder {
			color: transparent;
		}

		&:focus ~ label {
			@include text-s();
			transform: translateY(-10px);
			color: #b7c5ff;
		}

		&:not(:placeholder-shown) + label {
			@include text-s();
			transform: translateY(-10px);
		}

		&:not(:-ms-input-placeholder) + label {
			@include text-s();
			transform: translateY(-10px);
		}

		&.error {
			border-color: #ff4343;
		}
	}

	.field-btn {
		position: absolute;
		top: 8px;
		right: 8px;

		.icon {
			color: color('shades', 'medium-grey');
		}
	}

	.react-international-phone-country-selector-button {
		background-color: transparent;
		color: $white;
		height: 58px;
		padding: 8px 16px;

		&:hover {
			background-color: transparent;
		}
	}

	.react-international-phone-input-container .react-international-phone-country-selector-button {
		border: 1px solid $white {
			top-left-radius: 8px;
			bottom-left-radius: 8px;
		}
	}

	.react-international-phone-country-selector-button__dropdown-arrow {
		border-top-color: $white;
	}

	.react-international-phone-country-selector-dropdown {
		z-index: 3;
		background-color: #3f4a94;
		padding: 8px;
		top: 58px;
	}

	.react-international-phone-country-selector-dropdown__list-item-dial-code {
		color: $white;
		opacity: 0.8;
	}

	.react-international-phone-country-selector-dropdown__list-item--focused {
		background-color: #1f2c49;
	}

	.react-international-phone-country-selector-dropdown__list-item {
		color: $white;
	}

	.react-international-phone-input-container .react-international-phone-input {
		background-color: transparent;
		color: $white;
		padding: 8px;
		line-height: 20px;
		height: 58px;
		font-size: 14px;
		border: {
			top-right-radius: 8px;
			bottom-right-radius: 8px;
		}
		border: 1px solid $white;
	}

	&.with-btn {
		input {
			padding-right: 54px;
		}
	}

	&.error {
		.react-international-phone-input-container .react-international-phone-input {
			border-color: #ff4343;
		}

		.react-international-phone-input-container
			.react-international-phone-country-selector-button {
			border-color: #ff4343;
		}
	}
}

.form-group {
	+ .form-group {
		margin-top: 18px;
	}

	+ .submit-btn-group {
		margin-top: 4px;
	}

	+ .btn-group {
		margin-top: 24px;
	}
}

.search-field {
	position: relative;
	z-index: 1;

	input {
		@include text-m();
		padding: 10px 40px 10px 48px;
		position: relative;
		z-index: 2;
		height: 50px;
		box-shadow: inset 11px 11px 26px #000, inset -11px -11px 26px #212656;

		&::-webkit-input-placeholder {
			color: color('shades', 'medium-grey');
		}

		&::-moz-placeholder {
			color: color('shades', 'medium-grey');
		}

		&:-ms-input-placeholder {
			color: color('shades', 'medium-grey');
		}
	}

	.icon {
		color: green;
		z-index: 3;
		position: absolute;
		top: 50%;
		left: 16px;
		transform: translateY(-50%);
	}

	.close-btn {
		position: absolute;
		top: 50%;
		right: 16px;
		transform: translateY(-50%);
	}
}

.search-result {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	z-index: 10;
	background-color: #181b3e;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(#000, 0.85);

	&-list {
		max-height: 250px;
		overflow-x: hidden;
		overflow-y: auto;
	}

	&-item {
		padding: 5px;
		display: flex;
		align-items: center;
		cursor: pointer;

		img {
			width: 40px;
			height: 40px;
			margin-right: 12px;
			flex: 0 0 auto;
		}

		&:hover {
			background-color: rgba(#000, 0.5);
		}

		.title {
			font-size: 16px;
		}

		.name {
			font-size: 16px;
		}
	}

	&.active {
		opacity: 1;
		visibility: visible;
	}
}

.error-msg {
	@include text-s();
	display: block;
	padding-left: 16px;
	padding-right: 16px;
	color: $error;
	margin-top: 4px;
	margin-bottom: 4px;
	min-height: 4px;
}

%selectionControl {
	position: relative;
	display: inline-block;
	font-size: 0;
	cursor: pointer;

	input {
		position: absolute;
		opacity: 0;
		visibility: hidden;

		&:checked ~ .visual {
			&::after {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.visual {
		position: relative;
		display: inline-block;
		border: 1.5px solid #e1f3ff;
		width: 20px;
		height: 20px;
		border-radius: 50%;

		&::before {
			content: '';
			position: absolute;
			display: inline-block;
			top: 50%;
			left: 50%;
			width: 30px;
			height: 30px;
			margin: {
				left: -15px;
				top: -15px;
			}
			border-radius: 50%;
			opacity: 0;
			visibility: hidden;
			background-color: color('opacities', 'black-5%');
			transition: all 0.08s ease-out;
		}

		&::after {
			content: '';
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 10px;
			height: 10px;
			margin: {
				left: -5px;
				top: -5px;
			}
			border-radius: 50%;
			opacity: 0;
			visibility: hidden;
			background-color: #8952da;
		}
	}

	&:hover {
		.visual {
			border-width: 2px;

			&::before {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&.disabled {
		pointer-events: none;

		.visual {
			background-color: color('shades', 'light-grey');

			&::after {
				background-color: color('opacities', 'black-5%');
			}
		}
	}
}

.radio {
	@extend %selectionControl;
}

.checkbox {
	@extend %selectionControl;

	.visual {
		border-radius: 0;
		vertical-align: middle;

		&::after {
			display: inline-block;
			position: absolute;
			top: 40%;
			left: 50%;
			width: 6px;
			height: 10px;
			opacity: 0;
			visibility: hidden;
			border: {
				bottom: 1.5px solid $white;
				right: 1.5px solid $white;
				radius: 0;
			}
			background-color: transparent;
			margin: 0;
			transform: translate(-50%, -50%) rotate(45deg);
		}

		.text {
			margin-left: 16px;
		}
	}

	.text {
		@include text-m();
		display: inline-block;
		color: color('shades', 'dark-grey');
		vertical-align: middle;
	}

	&.round {
		.visual {
			border-width: 1px;
			border-radius: 50%;
		}

		&:hover {
			border-width: 2px;
		}
	}

	&.disabled {
		.visual {
			background-color: color('shades', 'light-grey') !important;
		}
	}
}

.toggle {
	display: inline-block;
	position: relative;
	font-size: 0;
	cursor: pointer;
	flex: 0 0 auto;

	&-field {
		display: flex;
		align-items: center;

		.toggle {
			margin-left: auto;
		}

		.text-label {
			margin-right: 16px;
		}

		+ .toggle-field {
			margin-top: 24px;
		}

		&.disabled {
			pointer-events: none;

			.toggle-label {
				color: color('shades', 'medium-grey');
			}
		}
	}

	&-label {
		@include text-m();
		margin-right: 16px;
	}

	input {
		opacity: 0;
		visibility: hidden;
		position: absolute;

		&:checked {
			~ .visual {
				background-color: #29b966;

				&::before {
					transform: translateX(16px);
				}
			}

			~ .backdrop {
				left: auto;
				right: 0;
				margin: {
					left: 0;
					right: -8px;
				}
			}
		}
	}

	.backdrop {
		content: '';
		display: inline-block;
		width: 40px;
		height: 40px;
		background-color: color('opacities', 'black-5%');
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: 0;
		margin: {
			top: -20px;
			left: -8px;
		}
		opacity: 0;
		visibility: hidden;
		transition: all 0.08s ease-out;
	}

	.visual {
		position: relative;
		display: inline-block;
		background-color: #d3d1d6;
		border: 2px solid rgba(0, 0, 0, 0.1);
		border-radius: 20px;
		width: 40px;
		height: 24px;
		transition: all 0.08s ease-out;
		z-index: 1;

		&::before {
			@include elevation4();
			content: '';
			display: inline-block;
			width: 18px;
			height: 18px;
			background-color: #fff;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 0;
			margin: {
				left: 1px;
				right: 1px;
				top: -9px;
			}
			transition: all 0.08s ease-out;
		}
	}

	&:hover .backdrop {
		opacity: 1;
		visibility: visible;
	}
}

@media (min-width: $small-screen) {
	.input-field {
		label {
			@include subtitle-m();
		}

		input {
			@include subtitle-m();
			line-height: 20px;
		}

		.react-international-phone-input-container .react-international-phone-input {
			font-size: 16px;
		}
	}

	.form-field {
		+ .submit-btn-group {
			margin-top: 12px;
		}
	}

	.toggle {
		&-field {
			.toggle {
				margin-left: 0;
			}

			.text-label {
				order: 2;
				margin-left: 16px;
			}
		}

		&-label {
			margin: {
				left: 16px;
				right: 0;
			}
			order: 1;
		}
	}
}
