@import '../utilities/variables';
@import '../utilities/shadows';

// Footer fixed to bottom

html {
	position: relative;
	font-variant: lining-nums;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

// General mixins for project
@mixin card() {
	@include cardShadow();
	background-color: #fff;
	border-radius: 8px;
}

// General classes for project

.swiper {
	&-container {
		position: relative;
		width: 100%;
		height: 100%;
		max-width: 100%;
		overflow: hidden;

		&:hover {
			.swiper-btn {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&-wrapper {
		display: flex;

		&.row {
			flex-wrap: nowrap;
		}
	}

	&-slide {
		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

@media (max-width: $small-screen-down) {
	html {
		&.mobile-menu-active {
			overflow: hidden;
		}
	}
}

@media (min-width: $medium-screen) {
	.swiper {
		&-wrapper {
			&.row {
				flex-wrap: wrap;
			}
		}
	}
}
