@import '../utilities/color';

// Popup variable - transfer into 'utilities/variables.scss' for project
$popup-width: 50rem;
$popup-height: 50rem;
$popup-head: 6.2rem;
$popup-foot: 6.2rem;
$popup-close: 1.6rem;
// ----------------------

// Popup colors - transfer into 'utilities/colors.scss' file for project
$popup-border: $base-border;
$popup-bg: #181b3e;
$popup-shadow: $black;
// ----------------------

// Popup style
.popup {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1050;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 5px;

	&-backdrop {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($popup-bg, 0.9);
		z-index: 1040;
	}

	&-wrap {
		flex: 1 1 auto;
		max-width: 500px;
		margin: auto;
		padding: 10px 10px;
		border-radius: 18px;
		background: linear-gradient(145deg, #161838, #1a1d42);
		box-shadow: 11px 11px 26px #0f1026, -11px -11px 26px #212656;
		position: relative;
		z-index: 1050;
	}

	&-head {
		position: relative;
		height: $popup-head;
		padding: 1.5rem;
		border-bottom: {
			width: 0.1rem;
			style: solid;
			color: $popup-border;
		}

		h3 {
			margin: 0;
			padding-right: $popup-close;
		}
	}

	.btn-close {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	&-title {
		padding-right: $popup-close;
		margin-bottom: 20px;
		user-select: none;
		font-size: 24px;
		font-weight: 600;

		.icon {
			margin-right: 10px;
			color: #00db40;
		}

		.text {
			display: inline-block;
			vertical-align: middle;
		}
	}

	&-body {
		height: calc(100% - #{$popup-foot} - #{$popup-head});
		margin-bottom: $popup-foot;
		padding: 1.5rem;
		overflow-y: auto;
	}

	&-foot {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: $popup-foot;
		padding: 1.5rem;
		border-top: {
			width: 0.1rem;
			style: solid;
			color: $popup-border;
		}
	}
}

@media (min-width: $small-screen) {
	.popup-wrap {
		padding: 20px 20px;
	}
}
